<!-- 口座 -->
<div class="card">
  <h2>口座 <span class="pill">計算の起点</span></h2>

  <form method="post" action="/accounts" class="form">
    <label>
      口座名
      <input name="name" placeholder="生活口座 / 楽天銀行" required />
    </label>

    <label>
      現在残高（円）
      <input name="balance_yen" type="number" min="0" value="0" required />
    </label>

    <label>
    種類
    <select name="kind" required>
        <option value="bank">口座</option>
        <option value="cash">現金</option>
        <option value="barcode">バーコード決済残高</option>
        <option value="emoney">電子マネー残高</option>
        <option value="nisa">NISA</option>
    </select>
    </label>

    <div class="actions col-span-all">
      <button class="btn" type="submit">口座を追加する</button>
    </div>
  </form>

  <div style="margin-top: 12px">
    <table>
      <thead>
        <tr>
          <th style="width: 70px">ID</th>
          <th>口座名</th>
          <th style="width: 160px">残高</th>
          <th style="width: 100px"></th>
        </tr>
      </thead>
      <tbody>
        {% for a in accounts %}
        <tr>
          <td>{{ a.id }}</td>
          <td style="font-weight: 650">{{ a.name }}</td>
          <td class="money">{{ "{:,}".format(a.balance_yen) }} 円</td>
          <td >{{ a.kind }}</td>
          <td>
            <form method="post" action="/accounts/{{ a.id }}/delete" style="margin: 0">
              <button class="btn btn-danger" type="submit">削除</button>
            </form>
          </td>
        </tr>
        {% endfor %}

        {% if not accounts %}
        <tr>
          <td colspan="4" class="empty">
            まだ口座がありません（先に1つ作るのがおすすめ）
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
